{% extends 'layout.html' %}

{% block head %}

<body onload='submit_id()'>
    placeholder
</body>
{% endblock head %}

{% block body %}

<div>
    <form id="enter" action="{{ url_for('submit_message') }}" method="POST">
        <input type="text" name="client_id" value="{{ client_id }}">
        <input type="text" name="text" placeholder="Say Something!">
    </form>

<button action="{{ url_for('submit_message') }}" type="submit" onclick="lock_form(); submit_form()" id="submit_button">Send -></button>

</div>

<h1>
    <button onclick="performPost()" >Refresh messages</button>
    <button onclick="autoRefresh()" >Automagically refresh messages (@ 5 sec. interval)</button>
</h1>

<script>
    function submit_id() {
        document.getElementById('client_id').submit()
        console.log('id submitted!')
    }
</script>

<script>
    function lock_form() {
        document.getElementById('enter').submit()
        console.log('form submitted!')
    }
</script>

<script>
    function submit_form() {
        submit_id()
        $.ajax({
            type: "POST",
            url: "{{ url_for('submit_message') }}",
        })
        console.log('message sent!')
    }
</script>

<script>
    function autoRefresh() {
        setInterval(performPost, 5000)
    }
</script>

<script>
    function performPost() {
        $.ajax({
            type: "POST",
            url: "{{ url_for('create_file') }}",
            success: function(response) {
                $("#chat").html(response);
                console.log(response);
            }
        })
        console.log('message received')
    }
</script>

<div id="chat">
    {% for message in message_recv %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

{% endblock body %}
